@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-pattern {
    opacity: 0.045;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-track {
    background-color: #0b2e212a;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #0b2e2172;
    border-radius: 40px;
  }